include COPYRIGHT
include README.md
include testdata/README.asc
include testdata/dan.gpg
include testdata/junio.gpg
include testdata/linus.asc
include testdata/linus.gpg
include testdata/partial_length.gpg
include testdata/secret_key_mode_1002.bin
include testdata/sessionkey_elg.asc
include testdata/sessionkey_rsa.asc
include testdata/v3elgpk.asc
include testdata/v3pubkeys.gpg
include testdata/v4_secret_encrypted.gpg
include testdata/v4_secret_plain.gpg
